<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Regalo</th>
      <th>Accciones</th>
    </tr>
  </thead>
  <tbody>
    <%= for p <- @people do%>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.email %></td>
        <td><%= p.address %></td>
        <td><%= p.gift %></td>
        <td>Borrar, Editar</td>
      </tr>
    <% end %>
  </tbody>
</table>
