<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Intermoto · Phoenix Framework</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <section class="hero is-white is-fullheight">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a href="<%= Routes.initial_path(@conn, :index) %>" class="title navbar-item"> Instrucciones </a>
            </div>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
      <div class="footer">
        <div class="content has-text-centered">
          <p class="has-text-black">
            Hecho por: <a href="https://github.com/llenrique" target="_blank">Enrique López</a> con
            <a href="https://bulma.io" target="_blank">Bulma</a> y <a href="https://www.phoenixframework.org/" target="_blank"> Elixir Phoenix</a>
          </p>
          <p class="has-text-black">
            Proyecto de código abierto en:
            <a href="https://github.com/llenrique/intermoto">Github</a>
          </p>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
