
<h1 class="title is-8"> Quienes van a participar? </h1>
<div class="field">
  <div class="control">
    <div class="is-fullwidth is-large has-text-centered">
      <%= form_for @conn, Routes.people_path(@conn, :create), [method: :post], fn f -> %>
        <%= text_input f, :people, class: "input is-large", placeholder: "Sofia, Miguel, Javier, Edin, etc." %>
        <%= submit "Crear lista", class: "button is-info mt-2 is-large" %>
      <% end %>
    </div>
  </div>
</div>
